name: Deploy to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Remove default IIS files
        shell: powershell
        run: |
          Remove-Item -Path "C:\inetpub\wwwroot\*" -Recurse -Force

      - name: Copy website files to IIS
        shell: powershell
        run: |
          Copy-Item -Path "$env:GITHUB_WORKSPACE\index.html" -Destination "C:\inetpub\wwwroot\" -Force
